@model CourseViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="">
    <form class="row" asp-action="Edit" asp-controller="Course" method="post">
        <div class="col-4">
            <div class="form-group ">
                <label asp-for="CourseID"></label>
                <input asp-for="CourseID" class="form-control" id="readOnlyInput" readonly="" type="text" />
            </div>
            <div class="form-group ">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" type="text" />
            </div>
            <button class="btn btn-primary" type="submit">Edit</button>
            <a class="btn btn-danger" asp-action="Index">Cancel</a>
        </div>
        <div class="col-4">
            <div class="">
                <p3>Teacher:</p3>
                <div class="card text-center">
                    @if (Model.Teacher != null)
                    {
                        <p2>
                            @Model.Teacher.FullName
                        </p2>
                    }
                    else
                    {
                        <p2>
                            Not Assigned
                        </p2>
                    }
                </div>
            </div>
            <div class="">
                <p3>Students assigned in:</p3>
                @foreach (var student in Model.Students)
                {
                    <div class="card text-center">
                        <input type="checkbox"
                               name="deleteStudents"
                               value="@student.StudentID" />

                        @student.Student.FullName
                        <br />
                    </div>
                }
            </div>
            <div>
                <p3>Students NOT assigned in:</p3>
                @foreach (var student in Model.Students)
                {
                    <div class="card text-center">
                        <input type="checkbox"
                               name="addStudent"
                               value="@student.StudentID" />

                        @student.Student.FullName
                        <br />
                    </div>
                }
            </div>
        </div>
    </form>
</div>
