@model TeacherViewModel
@{
    ViewData["Title"] = $"{Model.FullName} Details";
}

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Groups</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ID</td>
            <td>@Model.FirstName</td>
            <td>@Model.MidName</td>
            <td>@Model.LastName</td>
            <td>
                @foreach (var course in Model.Courses)
                {
                    @course.Name <br />
                }
            </td>
        </tr>
    </tbody>
</table>

@foreach (var course in Model.Courses)
{
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Group:</div>
        <div class="card-body">
            <h4 class="card-title">@course.Name</h4>
            <p class="card-text">Students in group: @course.Students.Count()</p>
        </div>
    </div>
}

