@model List<TeacherViewModel>

@{
    ViewData["Title"] = "Teachers";
}

@section Styles {
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" />
}

<div class="container-fluid">
    <h2>Teachers</h2>
    <p>All Teachers:</p>
    <table class="table table-hover text-center" id="teacher-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Groups</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var teacher in Model)
            {
                <tr>
                    <td>@teacher.ID </td>
                    <td>@teacher.FullName </td>
                    <td>@teacher.Email</td>
                    <td>
                        @foreach (var course in teacher.Courses)
                        {
                            @course.Name <br />
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@teacher.ID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@teacher.ID" class="btn btn-outline-danger">Delete</a>
                        <a asp-action="Details" asp-route-id="@teacher.ID" class="btn btn-outline-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-secondary">Create</a>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#teacher-table").DataTable();
        });
    </script>
}