@model List<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<div class="container-fluid">
    <h2>Users</h2>
    <p>All Users:</p>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Is Teacher</th>
                <th>Groups</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].User.UserId </td>
                    <td>@Model[i].User.FirstName </td>
                    <td>@Model[i].User.MiddleName </td>
                    <td>@Model[i].User.LastName </td>
                    <td>@(Model[i].User.IsTeacher ? "Yes" : "No")</td>
                    @if (Model[i].Groups.Count > 0)
                    {
                        <td>@Model[i].Groups.Count </td>
                    }
                    else
                    {
                        <td>@Model[i].Groups.Count </td>
                    }
                    <td>
                        <button class="btn btn-primary">Edit</button>
                        <button class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>