@model AllTeachersViewModel
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Post" asp-controller="">
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <a asp-action="Index" type="submit" class="btn btn-primary">Submit</a>
    </fieldset>
</form>

<div class="container-fluid">
    <h2>Teachers</h2>
    <p>All Teachers:</p>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Groups</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var teacher in Model.Teachers)
            {
                <tr>
                    <td>@teacher.ID </td>
                    <td>@teacher.FirstName </td>
                    <td>@teacher.MidName </td>
                    <td>@teacher.LastName </td>
                    <td>
                        @foreach (var group in teacher.Courses)
                        {
                            @group.Name <br />
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@teacher.ID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@teacher.ID" class="btn btn-outline-danger">Delete</a>
                        <a asp-action="Details" asp-route-id="@teacher.ID" class="btn btn-outline-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-secondary">Create</a>
</div>

<div class="container-fluid">
    <h2>Courses</h2>
    <p>All courses:</p>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Students</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@course.CourseID </td>
                    <td>@course.Name </td>
                    <td>@course.Teacher.FullName </td>
                    <td>
                        @foreach (var student in course.Students)
                        {
                            @student.Student.FullName <br />
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@course.CourseID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@course.CourseID" class="btn btn-outline-danger">Delete</a>
                        <a asp-action="Details" asp-route-id="@course.CourseID" class="btn btn-outline-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>>



